.filters{
  color: #fff;
  height: 70px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button{
  font-size: 18px;
  background-color: #ff5a5f;
  color: #fff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  transition: all 1s ease;
}

button:hover{
  opacity: 90%;
}
